
.custhr{
    border: none;
    background-color: #d4d4d4;

    height: 0.2px;
}

hr{
    border: none;
    background-color: #d4d4d4;

    height: 0.2px;
}

.nav-links{
    font-family: Arial, Helvetica, sans-serif;
    color: #686767;
    overflow: hidden;
    display: flex;
}
/**/
.navbar{
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: center;
}

.navone{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.apresentacao .texto button{
    background-color:#0d3d69;
    margin-left: 10px;
    border-radius: 5px;
    font-family: arial black;
    color:white;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 300px;
    font-size: 15px;
    transition: 0.5s;
    margin-left: 80px;
}

.apresentacao .texto button:hover{
    background-color: #13538f;
    color: white;
    cursor: pointer;
    border-width: 2px;


}


.nav-links button{
    background-color: white;
    margin-left: 10px;
    border-width: 1PX;
    border-color: #11548f;
    border-radius: 5px;
    font-family: arial black;
    color:#11548f   ;
    height: 35px;
    width: 65px;
    font-size: 15px;
    transition: 0.5s;

}


.nav-links button:hover{
    background-color: #11548f;
    color: white;
    border:none;
    cursor: pointer;
    
}


.nav-links button:hover{
    color: white;
}

a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        
}



/*.logo{
    height: 60px;
    width: 120px;
    background-color: #0d3d69;
    border-radius: 10px;
    margin-right: 15px;
}*/

.logo img{
    height: 80px;
    cursor: pointer;

}



/*
.nomelogo{
    margin-left: 70PX;
    font-family: arial black;
    color: #6b6d6b;
    font-size: 20px;
}*/


.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar{
    justify-content: space-between;
}




.nav-links a {
    text-decoration: none;
    color: #686767;
    font-size: 16px;
    font-weight: bold;
}



.nav-links a:hover {
    color: #0d3d69;

}

.search-input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}



.search-button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #0d3d69;
    color: white;
    cursor: pointer;
}

.apresentacao .texto h1{
    color: #0d3d69;
    font-size: 55px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
}



.apresentacao .texto h1 span{
    color:  #1484ec;
    font-family: sarifada;
    font-size: 65px;
}

.apresentacao .texto p{
    color: #686767;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 600px;
    margin-left: 80px;
    font-size: 23px;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao img{
    height: 400px;
    margin-right: 140px;
}

.profissoes{
    margin-top: 5px;
    display: flex;
}

.profissoes .card{
    height: 120px;
    width: 160px;
   /* border: 1px solid;*/
  /*  border-color: rgb(214, 214, 214);*/
    background-color: white;
    margin: auto;
    border-radius: 10px;
    color: #686767;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;



}

.profissoes .card p{
    margin-bottom: auto;
    font-weight: bold;
}

.profissoes .card img{
    border-radius: 100%;

}

.profissoes .card:hover{
    opacity: 1;
}

.iconprofissao img{
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.linha{
    width: 99%;
    height: 1px;
    background-color: #cac8c8;
    border-width: 2px;
    margin:auto;
}

.iconprofissao{
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}


.apresentacao2{
    margin-top: 150px;
}

.apresentacao2{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.apresentacao2 h2{
    color: #686767;
    font-size: 28px;
}

.apresentacao2 h3{
    color: #686767;
}

.apresentacao2 p{
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    color: #686767;
    margin-top: 30px;
}

.apresentacao2 button{
    margin-top: 25px;
    height: 50px;
    width: 350px;
    font-size: 17px;
    background-color:#0d3d69;
    color:white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.apresentacao2 button:hover{
    background-color: #11548f;
}


.clientes p{
    max-width: 500px;
}

.clientes {
    margin: auto;
    width: 950px;
    height: 400px;
    display: flex;
    align-items: center;
    border: 1px solid #b1adad;
    border-radius: 10px;
}

.clientes img{
    height: 350px;
    margin-right: 10px;
    margin-left: 10px;

}

.clientes .text2{
    margin-right: 9px;
}

.clientes .text2 h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5c5c;
    font-size: 25px;


}

.clientes .text2 p{
    font-size: 17px;
}

.clientes .text2 button{
    background-color:#0d3d69;
    margin-left: 10px;
    border-radius: 5px;
    font-family: arial black;
    color:white;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 300px;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.clientes .text2 button:hover{
    background-color: #13538f;
    color: white;
    cursor: pointer;
    border-width: 2px;


}


.clientes .text2{
    color: #5e5c5c;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.clientes img {
    margin-right: 40px;
}

.clientes .linha2 {
    height: 200px;
    border: 1px solid #b1adad;
}


.apresentacao2 h2 strong{
    color: #0d3d69;
}



.profiss1{
    margin: 0;
    padding: 20px;
    height: 100dvh;
    background-color: #0d3d69;
    margin-top: 200px;
    text-align: center;
    align-items: flex-start;
    border-color: #0d3d69;
    border: 2px solid #0d3d69;
}

.profiss1 h4{
    color: #1484ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}


.profiss1 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;

}



.profiss1 span{
    color:  #1484ec;
    font-family: sarifada;
    font-size: 40px;
}

.opa{
    height: 30px;
}

.profiss2 p{
    max-width: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.profiss2{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    align-items: flex-start;


}

.profiss2 .beneficios{

    justify-content: space-between;
    text-align: center;
}


.profiss1 button{
    margin-top: 40px;
    background-color:white;
    margin-left: 10px;
    border-radius: 5px;
    font-family: arial black;
    color:#0d3d69;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 300px;
    font-size: 15px;
    transition: 0.5s;
    margin-left: 80px;
}

.profiss1 button:hover{
    background-color:#13538f;
    color:white;
    cursor: pointer;
    border-width: 2px;


}