
.custhr{
    border: none;
    background-color: #d4d4d4;

    height: 0.2px;
}

hr{
    border: none;
    background-color: #d4d4d4;

    height: 0.2px;
}

.nav-links{
    font-family: Arial, Helvetica, sans-serif;
    color: #686767;
    overflow: hidden;
    display: flex;
}
/**/
.navbar{
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: center;
}

.navone{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.apresentacao .texto button{
    background-color:#0d3d69;
    margin-left: 10px;
    border-radius: 5px;
    font-family: arial black;
    color:white;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 300px;
    font-size: 15px;
    transition: 0.5s;
    margin-left: 80px;
}

.apresentacao .texto button:hover{
    background-color: #13538f;
    color: white;
    cursor: pointer;
    border-width: 2px;


}


.nav-links button{
    background-color: white;
    margin-left: 10px;
    border-width: 1PX;
    border-color: #11548f;
    border-radius: 5px;
    font-family: arial black;
    color:#11548f   ;
    height: 35px;
    width: 65px;
    font-size: 15px;
    transition: 0.5s;

}


.nav-links button:hover{
    background-color: #11548f;
    color: white;
    border:none;
    cursor: pointer;
    
}


.nav-links button:hover{
    color: white;
}

a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        
}



/*.logo{
    height: 60px;
    width: 120px;
    background-color: #0d3d69;
    border-radius: 10px;
    margin-right: 15px;
}*/

.logo img{
    height: 80px;
    cursor: pointer;

}



/*
.nomelogo{
    margin-left: 70PX;
    font-family: arial black;
    color: #6b6d6b;
    font-size: 20px;
}*/


.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar{
    justify-content: space-between;
}




.nav-links a {
    text-decoration: none;
    color: #686767;
    font-size: 16px;
    font-weight: bold;
}



.nav-links a:hover {
    color: #0d3d69;

}

.search-input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}



.search-button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #0d3d69;
    color: white;
    cursor: pointer;
}

.apresentacao .texto h1{
    color: #0d3d69;
    font-size: 55px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
}



.apresentacao .texto h1 span{
    color:  #1484ec;
    font-family: sarifada;
    font-size: 65px;
}

.apresentacao .texto p{
    color: #686767;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 600px;
    margin-left: 80px;
    font-size: 23px;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao img{
    height: 330px;
    margin-right: 140px;
}

.profissoes{
    margin-top: 5px;
    display: flex;
}

.profissoes .card{
    height: 120px;
    width: 160px;
   /* border: 1px solid;*/
  /*  border-color: rgb(214, 214, 214);*/
    background-color: white;
    margin: auto;
    border-radius: 10px;
    color: #686767;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;



}

.profissoes .card p{
    margin-bottom: auto;
    font-weight: bold;
}

.profissoes .card img{
    border-radius: 100%;

}

.profissoes .card:hover{
    opacity: 1;
}

.iconprofissao img{
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.linha{
    width: 99%;
    height: 1px;
    background-color: #cac8c8;
    border-width: 2px;
    margin:auto;
}

.iconprofissao{
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}


.apresentacao2{
    margin-top: 150px;
}

.apresentacao2{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.apresentacao2 h2{
    color: #686767;
    font-size: 28px;
}

.apresentacao2 h3{
    color: #686767;
}

.apresentacao2 p{
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    color: #686767;
    margin-top: 30px;
}

.apresentacao2 button{
    margin-top: 25px;
    height: 50px;
    width: 350px;
    font-size: 17px;
    background-color:#0d3d69;
    color:white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.apresentacao2 button:hover{
    background-color: #11548f;
}


.clientes p{
    max-width: 500px;
}

.clientes {
    margin: auto;
    width: 1100px;
    height: 500px;
    display: flex;
    align-items: center;
    border: 1px solid #b1adad;
    border-radius: 10px;
}

.clientes img{
    height: 350px;
    margin-right: 10px;
    margin-left: 10px;

}

.clientes .text2{
    margin-right: 9px;
}

.clientes .text2 h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5c5c;
    font-size: 25px;


}

.clientes .text2 p{
    font-size: 19px;
}

.clientes .text2 button{
    background-color:#0d3d69;
    margin-left: 10px;
    border-radius: 5px;
    font-family: arial black;
    color:white;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 300px;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 30px;
}

.clientes .text2 button:hover{
    background-color: #13538f;
    color: white;
    cursor: pointer;
    border-width: 2px;


}


.clientes .text2{
    color: #5e5c5c;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.clientes img {
    margin-right: 40px;
}

.clientes .linha2 {
    height: 400px;
    border: 1px solid #b1adad;
}


.apresentacao2 h2 strong{
    color: #0d3d69;
}



.profiss1{
    margin: 0;
    padding: 30px;
    height: 100dvh;
    background-color: #0d3d69;
    margin-top: 200px;
    text-align: center;
    align-items: flex-start;
    border-color: #0d3d69;
    border: 2px solid #0d3d69;
}

.profiss1 h4{
    color: #1484ec;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}


.profiss1 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;

}



.profiss1 span{
    color:  #1484ec;
    font-family: sarifada;
    font-size: 40px;
}

.opa{
    height: 30px;
}

.profiss2 p{
    max-width: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.profiss2{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    align-items: flex-start;


}

.profiss2 .beneficios{

    justify-content: space-between;
    text-align: center;
}


.profiss1 button{
    margin-top: 2px;
    background-color:white;
    border-radius: 5px;
    font-family: arial black;
    color:#0d3d69;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 400px;
    font-size: 14px;
    transition: 0.5s;
}

.profiss1 button:hover{
    background-color:#13538f;
    color:white;
    cursor: pointer;
    border-width: 2px;


}

.iconimg{
    position: absolute;
    margin-left: 78%;
    margin-top: 25%;
    height: 250px;
    opacity: 0.7;
    transition: opacity 0.3s;
} 

.finalpage{
    display: flex;
    margin: auto;
    align-items: self-start;
    justify-content: space-between;
    padding: 30px;
}

.finalpage img{
    height: 100px;
    margin-top: 5%;
    color: #5e5c5c;
}


.finalpage p, h4{
    font-family: Arial, Helvetica, sans-serif;
}

.finalpage p:hover{
    font-weight: bold;
    color: #0d3d69;
    cursor: pointer;
}

















/*QUEMSOMOSQUEMSOMOSQUEMSOMOSQUEMSOMOSQUEMSOMOSQUEMSOMOSQUEMSOMOSQUEMSOMOS*/



.quemsomos{    
    color:#5e5c5c;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
    

}

a{
    text-decoration: none;

}

.textoplano a{
    color: white;
}

.quemsomos2 span{
    color: #0d3d69;
}

.quemsomos img{
    height: 500px;
}

.sobre{
    margin-top: 30px;
}


.missao{
    margin-top: 80px;
    color: #0d3d69;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.missao h1{
    max-width: 700px;
    margin-left: 70px;
}

.missao span{
    color: rgb(26, 25, 25);
    font-size: 25px;
    max-width: 700px;
}



.missao .img1{
    height: 220px;
    opacity: 1.0;
    margin-top: 35px;
    margin-left: 20px;
    margin-left: 20px;
}
/*
.missao .img2{
    height: 150px;
    opacity: 0.2;
    margin-top: 45px;
}

.missao .img3{
    height: 200px;
    opacity: 0.2;
    margin-top: 55px;
}*/

.quemsomos1 h2{
    margin-top: 50px;
    color: rgb(26, 25, 25);
    font-size: 45px;
    margin: auto;
    text-align: center;
    }

.quemsomos1 strong{
    color: #0d3d69;
}

.quemsomos2{
    color:#5e5c5c;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    font-size: 30px;
    margin-right: 10%;
}

.quemsomos2 p{
    color:#5e5c5c;
    display: flex;
    align-items: center;
    max-width: 500px;
    font-size: 21px;
}

.visao{
    color:#5e5c5c;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 6%;
    
}

.visao p{
    max-width: 500px;
}

.visao2{
    display: flex;
}

.visao .img1{
    height: 400px;
    opacity: 0.1;
    margin-top: 35px;
}

.visao .img2{
    height: 250px;
    opacity: 0.1;
    margin-top: 20px;
}

.visao .img3{
    height: 100px;
    opacity: 0.1;
    margin-top: 10px;
}


.valores h2{
    color: #333333;
    font-size: 45px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;

}

.cardvalores1{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 80px;
}

.cardvalores img{
margin-left: 30%;
}

.cardvalores P{
    max-width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.cardvalores{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.cardvalores h3{
    text-align: center;
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px
}

.valores{
    margin-bottom: 20px;
}


.textoplano h1{
    color: #0d3d69;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    font-size: 35px;
}

.textoplano h3{
    color: #0d3d69;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    font-size: 20px;
}

.textoplano .plano{
    display: flex;
    align-items: center;
    height: 25px;
}

.textoplano .plano p{
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d3d69;
}

.textoplano strong{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d3d69;
}

.textoplano P{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:#0d3d69;
}

.textoplano button{
    background-color:#0d3d69;
    border-radius: 5px;
    font-family: arial black;
    color:white;
    height: 45px;
    border: none;
    border-color: #0d3d69;
    width: 200px;
    font-size: 15px;
    transition: 0.5s;
}

.textoplano button:hover{
    background-color: #13538f;
    color: white;
    cursor: pointer;
    border-width: 2px;
}

.textoplano{
    margin-left: 50px;
}


.textoanteriorplano{
    text-align: center;
    max-width: 700px;
    color:#333333;
    margin: auto;
    font-size: 17px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.planpremiun{
    height: 20px;
    width: 20px;
    background-color: white;
    padding-top: 40px;
}


.planpremiun2{
    height: 40px;
    width: 100%px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #0d3d69;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.planpremiun2 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: auto;
}